/*Find all fields needing changing*/

SELECT *
FROM Syscolumns
WHERE name = 'A4GLIdentity' and autoval is null

/*Script to generate all needed scripts to alter tables*/


SELECT DISTINCT 'ALTER TABLE ' +
   QUOTENAME(t.TABLE_SCHEMA) + '.' +
   QUOTENAME(t.TABLE_NAME) +
   ' ALTER COLUMN ' +
   QUOTENAME(c.COLUMN_NAME) + ' ' +
   QUOTENAME(c.DATA_TYPE) +
   ' NULL'

FROM INFORMATION_SCHEMA.TABLES t
JOIN INFORMATION_SCHEMA.COLUMNS c ON
   c.TABLE_SCHEMA = t.TABLE_SCHEMA AND
   c.TABLE_NAME = t.TABLE_NAME
   INNER JOIN sysindexes ON sysindexes.name = c.TABLE_NAME  AND c.COLUMN_NAME = 'A4GLIdentity' INNER JOIN syscolumns ON syscolumns.id = sysindexes.id
WHERE
   t.TABLE_TYPE = 'BASE TABLE' AND
   c.COLUMN_NAME = 'A4GLIDENTITY' AND 
   autoval is null

  
/*Copy and Paste Script then Execute*/

ALTER TABLE [dbo].[apadjtrx_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[apaltadr_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[apbnkfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[APCHKFLD_SQL] ALTER COLUMN [A4GLIdentity] [numeric] NULL
ALTER TABLE [dbo].[APCHKFRM_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[APCHKRST_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[APLBLFLD_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[APLBLFRM_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[APLBLRST_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[apopnfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[apopnhst_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[apopnwk2_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[apopnwk3_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[apopnwk4_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[aprecdst_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[aprecvch_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[aptrxdst_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[aptrxfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[apvenadt_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[apvendst_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[apvenfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[apventyp_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[APX99FLD_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[APX99FRM_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[APX99RST_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[araltedi_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[arbatfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[arcarcde_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[arcomdue_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[arcomwrk_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[arcusadt_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[arcuswk2_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[arcuswk4_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[arcuswk5_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[ARDUNFLD_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[ARDUNFRM_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[ARDUNRST_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[arfchtrx_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[ARINVFLD_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[ARINVFRM_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[ARINVRST_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[ARLBLFLD_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[ARLBLFRM_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[ARLBLRST_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[arrecdst_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[arrecinv_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[arsawork_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[arshofil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[arshtfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[arslmfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[arslsdst_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[arslstrx_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[arsrvfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[arsrvhst_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[arsrvtrx_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[ARSTMFLD_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[ARSTMFRM_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[ARSTMRST_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[artypfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[arwrk1fl_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[arwrk2fl_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[arwrk4fl_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[bcimpdtl_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[bcimphdr_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[bcimpsfc_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[bclswkfl_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[bcpexdtl_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[bcpexhdr_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[bcpexrel_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[bcpexsfc_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[bctagfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[bctagpex_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[bctagrel_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[bmctlfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[bmengchg_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[bmenghst_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[bmexcwrk_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[bmexplwk_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[bmftrfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[bmmasrpl_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[bmoptexc_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[bmoptfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[bmprdaud_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[bmprdcpy_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[bmprdrsq_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[bmprdstr_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[checkrec_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[chklock_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[COMPFILE_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[DEFERRPT_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[ED_CVTFL_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[ED_FMTCE_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[ED_FMTDF_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[ED_FMTED_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[ED_FMTEF_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[ED_FMTEM_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[ED_FMTSN_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[edablkfl_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[edacumfl_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[edapkgfl_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[edatpqfl_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[edatpsfl_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[edbbcifl_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[edcaudfl_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[edccapfl_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[edcchgfl_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[edcctlfl_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[edcitmfl_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[edclogfl_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[edcsdqfl_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[edcshtfl_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[edcshvfl_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[edctp_fl_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[EDI_VDFL_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[FORMFILE_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[glactids_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[glbudfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[glcmpfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[glcmprsf_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[gldistcd_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[glentity_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[GLEXCEPT_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[glgentrx_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[glinftab_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[GLINTFIL_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[glrecbal_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[glrectrx_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[glspecs_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[glsrcfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[gltrxfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[gltrxhst_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[gltxtfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[glxrefil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[hzbai999_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[hzcdefil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[hzcrwfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[hzctlfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[hzctract_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[hzctrcap_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[hzctrfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[hzctrmch_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[hzempaud_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[hzempper_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[hzeqpfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[hzernfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[hzmcofil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[hznotfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[hznothst_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[hzocfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[hzplpfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[hzppvfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[hzprelod_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[hzrptcal_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[hzshpcal_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[hzshpdtl_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[imallrst_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[imatpfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[imatpord_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[imbatfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[imbintrx_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[imcapbld_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[imcaphst_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[imcntdte_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[imdisfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[iminvaud_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[iminvbin_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[iminvhst_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[iminvtrx_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[imitmadt_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[imitmnot_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[imitmtxt_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[imkitfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[IMLBLFLD_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[IMLBLFRM_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[IMLBLRST_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[imlfmst_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[imlftrx_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[imlsmst_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[imlstrx_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[imordbld_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[imordhst_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[imrechst_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[imrefdes_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[imrefhst_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[imreqwrk_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[imrevwrk_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[imsht999_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[imshtfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[imsubitm_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[imtagfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[IMTAGFLD_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[IMTAGFRM_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[imtaghst_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[IMTAGRST_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[imtagsub_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[imtrxdst_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[JOBFILE_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[JOBHIST_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[msctlfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[msfrcfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[mspcwfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[msschfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[mswrk999_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[OEACKFLD_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[OEACKFRM_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[OEACKRST_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oebolfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oebolord_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oecarcde_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oecmtcde_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oecmthst_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oecshfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oecuctl_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oecusitm_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oecuxref_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oedis001_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oedis002_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oedis003_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oefboaud_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[OEFRMFIL_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oehdraud_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oehdrhst_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oehstprd_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oeinqord_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oeinvbat_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[OEINVFLD_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[OEINVFRM_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[OEINVRST_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[OELADFLD_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[OELADFRM_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[OELADRST_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[OELBLFLD_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[OELBLFRM_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[OELBLRST_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oelinaud_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oelincmt_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oelinhst_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oeopthst_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oeorddtl_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oeordrel_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[OEPAKFLD_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[OEPAKFRM_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[OEPAKRST_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oepdscom_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oepdsctl_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oepdsrma_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oepdssel_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[OEPIKFLD_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[OEPIKFRM_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[OEPIKRST_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oeprcfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oeprepay_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[OEQTEFLD_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[OEQTEFRM_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[OEQTERST_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oerdtfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oerdthis_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oerhdfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oerhdhis_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oermactl_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oeshpldt_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oesjnwrk_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oeslshst_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oewrk1fl_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oewrkbk1_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oewrkbk2_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oewrkbk3_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[oewrkbk4_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[pobuyerp_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[pobuylck_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[pocomcde_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[pocomfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[poconfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[poconhst_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[pocshreq_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[pofrmfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[pohdraud_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[pohdrhst_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[poinsaud_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[poinshdr_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[POINVFLD_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[POINVFRM_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[POINVRST_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[poitmvnd_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[poivaud_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[polinaud_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[polinhst_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[polndcst_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[POORDFLD_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[POORDFRM_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[poordhdr_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[poordlin_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[POORDRST_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[poprpven_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[popurcst_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[poqtehdr_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[poqtelin_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[poqtelvl_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[poqtepre_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[poqthdhs_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[poqtlnhs_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PORECFLD_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PORECFRM_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PORECRST_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[poreqhdr_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[poreqlin_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[porfqctl_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[porqhdhs_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[porqlnhs_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PORTNFLD_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PORTNFRM_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PORTNRST_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[POSCHFLD_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[POSCHFRM_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[POSCHRST_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[poshpfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[potrxdst_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[potrxfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[ppadvwrk_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PPBUYLCK_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[ppcmthst_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[ppcstcap_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[ppcstfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[ppcststr_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[ppcsttrx_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[ppctlfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[ppexplwk_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[pplincmt_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[ppordaud_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[ppordfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PPORDFLD_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PPORDFRM_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PPORDRST_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[ppordtrx_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[pprcncwk_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRACTFIL_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRALTKEY_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRAUDFIL_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRBNKWRK_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRCARDSV_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRCFRWRK_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRCHKREC_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRCMPWRK_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRCPTWRK_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRCRDSRT_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRDEDWRK_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRDIRFIL_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRDISFIL_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRDISFIT_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRDISWRK_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRDPTWRK_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[preload_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PREMPFI2_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PREMPFIL_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PREMPONE_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PREMPTWO_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRGENWRK_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRGLSORT_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRGNLWRK_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRHISFIL_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRINTCOD_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRINTDFT_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRLOCFIL_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRLOGFIL_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRNOTES_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRPAYFIL_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRPGRWRK_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRREGFIL_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRSB1FIL_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRSB2FIL_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRSB3FIL_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRSNVFIL_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRSTECDE_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRSUIWRK_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRTAXUPD_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[PRTIMFIL_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[sflayout_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[SPOOLCOD_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[SPOOLFIL_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[SYACTADT_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[SYACTFIL_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[SYCSHFIL_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[sydocfil_sql] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[SYHSTLIN_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[SYJNLHST_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[SYPRDFIL_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[SYRPTFIL_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[SYSEQCTL_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[SYSEQHST_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[SYSNOTES_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[SYSTATES_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[SYSUPDEC_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[SYTAXHST_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[SYTAXLIN_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[SYTAXTRX_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[SYTRIGGR_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[TAXDETL_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL
ALTER TABLE [dbo].[TAXSCHED_SQL] ALTER COLUMN [A4GLIdentity] [decimal] NULL